/* .form-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 10%;
} */

/* .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;
    width: 55%;
    height: 50%;
    border: 3px solid green; 
    border-radius: 5px;

} */

/* .contact-form > input{
    margin: 10px;
} */

.sign-up{
    font-size: 20px;
    display: flex;
    /* flex-direction: column; */
}

.contact-form{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    background-color: rgba(52, 26, 23, 0.7);
}

.contact-form > input{
    margin: 20px;
    border:none;
    
}